.carousel {
  background-color: black;
  height: 100vh;
  width: 300%;
  overscroll-behavior: none;
}

.contentContainer {
  height: 100vh;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.videoItems {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-gap: 3vw;
  padding-inline: 4rem;
  padding-block: 0;
}

.title {
  color: white;
  font-size: 10vw;
  font-weight: bold;
  position: sticky;
}
