.contentContainer {
  height: 100vh;
  width: 100vw;
  /* position: sticky; */
  /* top: 0; */
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: flex-start; */
}
/* .panel {
  grid-area: 1/1/1/1;
} */

.videoGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 3vw;
  padding-inline: 4rem;
  padding-block: 0;
}
.videoGrid > :nth-child(1) {
  grid-area: 1/1/2/2;
}
.videoGrid > :nth-child(2) {
  grid-area: 1/2/2/3;
}
.videoGrid > :nth-child(3) {
  grid-area: 1/3/2/4;
}

.title {
  padding-block: 10vh;
  align-self: flex-start;
  color: white;
  font-size: 2em;
  font-weight: medium;
  position: sticky;
}
