@import url("https://fonts.googleapis.com/css2?family=Archivo+Narrow:ital,wght@0,400..700;1,400..700&family=Archivo:ital,wght@0,100..900;1,100..900&family=Geist+Mono:wght@100..900&display=swap");
body {
  font-family: "Archivo", sans-serrif;
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}
nav {
  font-family: "Archivo Narrow";
  position: fixed;
  width: 100vw;
  z-index: 100;
  color: white;
  display: flex;
  flex-direction: row;
  gap: 50px;
  justify-content: center;
  background-color: rgba(000, 000, 000, 0.5);
  backdrop-filter: blur(1px);
}
.navText {
  font-size: 2em;
  color: #fff;
  text-align: center;
  font-family: "Archivo";
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-block: 25px;
}
.hero {
  z-index: -1;
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 100vh;
  display: flex;
  color: white;
  flex-shrink: 0;
  background-color: black;
  background-image: url(RecklessBackPlaceholder.png);
  background-size: 100% 100%;
  background-position: fixed;
  background-repeat: no-repeat;
  overflow: hidden;
}
#headerText {
  color: #fff;
  font-family: "Archivo";
  font-size: 500px;
  font-style: normal;
  font-weight: 700;
  white-space: no-wrap;
  line-height: normal;
  height: 0;
}
.about {
  overflow-x: hidden;
  white-space: no-wrap;
  display: flex;
  width: 100vw;
  height: 80%;
  padding: 20px 20px;
  justify-content: center;
  align-items: center;
  background-color: #e93636;
}
#aboutText {
  margin-block: 0;
  color: #fff;
  text-align: justify;
  font-family: Archivo;
  font-size: 128px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.marquee {
  display: flex;
  transform: translateX(-50%);
  width: max-content;
  mix-blend-mode: exclusion;
  animation: marquee 60s linear infinite;
}

#filmText {
  font-family: "Archivo Narrow";
}

@keyframes marquee {
  to {
    transform: translateX(-100%);
  }
}
