@font-face {
  font-family: "HGHeisei";
  src: url(../../../../public/fonts/HGHeiseiMinchotaiW3.ttf);
}

.main {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 5em;
  font-family: "HGHeisei";
}
