/* @font-face {
  font-family: "HGHeisei";
  src: url(../../fonts/HGHeiseiMinchotaiW3.ttf);
} */

.main {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-image: url(../../../../public/Daveed.JPG);
  background-size: cover;
  background-position: center, center;
  padding: 2.5%;
  gap: 10%;
  text-align: center;
}

.title {
  /* transform: translateX(-10px); */
  justify-self: center;
  font-size: clamp(5em, 10vw, 15em);
}

.directors {
  font-size: clamp(1.5em, 3vw, 4em);
}

.studio {
  font-size: clamp(0.5em, 2vw, 2em);
}
.actors {
  font-size: clamp(0.3em, 1.5vw, 1.5em);
}
