body {
  display: flex;
  flex-direction: column;
  font-family: "Archivo", sans-serrif;
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
  width: 100vw;
  height: 100%;
  overflow-x: hidden;
}
