.main {
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  flex-direction: column;
  width: 100vw;
  height: 100%;
  color: #ffffff;
  background-color: #000000;
}

.footer {
  width: 100%;
  margin-block: 5vh;
  justify-content: space-around;
  display: flex;
  background-color: black;
  color: white;
  font-size: 2vw;
  font-weight: 500;
}

.media {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: auto;
}

.nav {
  justify-content: space-between;
}

.socialIcon {
  width: 5vw;
  height: 5vw;
}
/* TS for temporary be with you screen */
.mainTemp {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: black;
  color: white;
}

.header {
  justify-self: flex-start;
  font-weight: 600;
  font-size: clamp(3em, 5vw, 10em);
}

.text {
  font-weight: 500;
  font-size: clamp(1.5rem, 2vw, 5em);
}

.image {
  transform: rotate(0.01turn);
  width: 7vw;
  min-width: 5rem;
}
