@import url("https://fonts.googleapis.com/css2?family=Archivo+Narrow:ital,wght@0,400..700;1,400..700&family=Archivo:ital,wght@0,100..900;1,100..900&family=Geist+Mono:wght@100..900&display=swap");

@media (min-width: 800px) {
  .navText {
    font-size: 10vw;
  }
}
#navbar {
  position: sticky;
  height: fit-content;
  width: 100%;
  z-index: 100;
  color: white;
  display: flex;
  flex-direction: row;
  gap: clamp(4vw, 4vw, 1.5rem);
  justify-content: center;
  background-color: rgba(233, 54, 54 0.5);
  backdrop-filter: blur(50px);
}
.navText {
  cursor: pointer;
  font-size: clamp(32px, 2vw, 3rem);
  overflow-wrap: break-word;
  color: #fff;
  text-align: center;
  font-family: "Archivo";
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-block: 2vh;
  background-position: 0 100%;
  transform: translateY(0), scale(1);
  transition: transform 0.25s ease-in-out;
  &:hover {
    transform: translateY(-0.3rem);
  }
  &:active {
    transform: scale(1);
  }
}

a {
  color: white;
  text-decoration: none;
}
.hero {
  overflow-x: hidden;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: flex-end;
  color: white;
  background-color: black;
  background-image: url("/RecklessBackPlaceholder.png");
  background-size: cover;
  background-position: center 0%;
  background-repeat: no-repeat;
}
.headerText {
  width: fit-content;
  height: fit-content;
  color: #fff;
  font-family: "Archivo";
  font-size: 50vh;
  font-style: normal;
  font-weight: 700;
  margin-block: 0;
  user-select: none;
}
.about {
  overflow-x: hidden;
  overflow-y: hidden;
  text-transform: uppercase;
  overflow-wrap: break-word;
  background-color: #e93636;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
}
#aboutText {
  overflow-x: hidden;
  overflow-wrap: break-word;
  width: inherit;
  margin-block: 0;
  color: #fff;
  text-align: justify;
  font-family: Archivo;
  font-size: 10vw;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 5vh 10vw;
}
.marquee {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  width: fit-content;
  height: fit-content;
  mix-blend-mode: exclusion;
  /* animation: marquee 120s linear infinite; */
}
.marquee .headerText {
  display: inline-block;
  padding-right: 2vw;
  animation: marquee 60s linear infinite;
}
.overlay {
  background-color: rgba(000, 000, 000, 0.5);
  width: 100%;
}
.filmContainer {
  position: relative;
  width: 100%;
  height: 100vh;
}
.filmContent {
  padding: 2vh 2vw;
  position: relative;
  z-index: 1;
}

.filmBackground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: repeat;
  background-image: url("/BgFilmPlaceholderV2.svg");
  background-size: 50%;
  background-blend-mode: darken;
  filter: brightness(50%);
  animation: pan 30s linear infinite;
}

.filmText {
  width: fit-content;
  margin-block: 0;
  font-size: 8vw;
  font-weight: 550;
  font-family: "Geist Mono";
  user-select: none;
  text-decoration: none;
  color: white;
  position: relative;
  background: linear-gradient(120deg, #fff 0%, #fff 100%);
  background-repeat: no-repeat;
  background-size: 0 100%;
  background-position: 0 100%;
  transition: background-size 0.6s ease-in-out, color 0.25s ease-in;
  &::before {
    content: "_";
  }
  &:hover {
    background-size: 100% 100%;
    color: black;
  }
}
.filmArrow {
  clip-path: path(
    "M0.999965 33.0003L-3.47351e-05 33.0003L-3.35091e-05 34.0003L0.999968 34.0003L0.999965 33.0003ZM32.2071 33.7073C32.5976 33.3168 32.5976 32.6837 32.2071 32.2931L25.8431 25.9292C25.4526 25.5387 24.8194 25.5387 24.4289 25.9292C24.0384 26.3197 24.0384 26.9529 24.4289 27.3434L30.0858 33.0002L24.4289 38.6571C24.0384 39.0476 24.0384 39.6808 24.4289 40.0713C24.8195 40.4618 25.4526 40.4618 25.8432 40.0713L32.2071 33.7073ZM0.999925 9.23665e-05L-7.51942e-05 9.35925e-05L-3.47351e-05 33.0003L0.999965 33.0003L1.99997 33.0003L1.99992 9.11405e-05L0.999925 9.23665e-05ZM0.999965 33.0003L0.999968 34.0003L31.5 34.0002L31.5 33.0002L31.5 32.0002L0.999963 32.0003L0.999965 33.0003Z"
  );
  width: 100px;
  height: 200px;
  color: white;
  background-color: white;
}
/* Services */
.servicesContainer {
  background-color: white;
  width: 100%;
  height: 100vh;
}

/* Services Marquee*/
.servicesMarqueeContainer {
  display: flex;
}
.servicesMarqueeTrack {
  display: flex;
  width: 100%;
  animation: marquee 60s linear infinite;
}
.servicesHeader {
  color: black;
  font-size: 2vw;
}
/* Services Meat */
.servicesContent {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5vh;
  gap: 5%;
  margin-left: 5vw;
  color: black;
}
.servicesPackage {
  border-radius: 10%;
  background-color: red;
}

@keyframes pan {
  0% {
    background-position: 0% 0%;
  }

  100% {
    background-position: 100% 0%;
  }
}
@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
@import url("https://fonts.googleapis.com/css2?family=Archivo+Narrow:ital,wght@0,400..700;1,400..700&family=Archivo:ital,wght@0,100..900;1,100..900&family=Geist+Mono:wght@100..900&display=swap");
.main {
  display: flex;
  flex-direction: column;
  font-family: "Archivo", sans-serrif;
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
  width: 100vw;
  height: 100%;
  overflow-x: hidden;
}
@media (min-width: 800px) {
  .navText {
    font-size: 10vw;
  }
}
nav {
  position: sticky;
  height: fit-content;
  width: 100%;
  z-index: 100;
  color: white;
  display: flex;
  flex-direction: row;
  gap: clamp(4vw, 4vw, 1.5rem);
  justify-content: center;
  background-color: rgba(233, 54, 54 0.5);
  backdrop-filter: blur(50px);
}
.navText {
  cursor: pointer;
  font-size: clamp(32px, 2vw, 3rem);
  overflow-wrap: break-word;
  color: #fff;
  text-align: center;
  font-family: "Archivo";
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-block: 2vh;
  background-position: 0 100%;
  transform: translateY(0), scale(1);
  transition: transform 0.25s ease-in-out;
  &:hover {
    transform: translateY(-0.3rem);
  }
  &:active {
    transform: scale(1);
  }
}

a {
  color: white;
  text-decoration: none;
}
.hero {
  overflow-x: hidden;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: flex-end;
  color: white;
  background-color: black;
  background-image: url("/RecklessBackPlaceholder.png");
  background-size: cover;
  background-position: center 0%;
  background-repeat: no-repeat;
}
.headerText {
  width: fit-content;
  height: fit-content;
  color: #fff;
  font-family: "Archivo";
  font-size: 50vh;
  font-style: normal;
  font-weight: 700;
  margin-block: 0;
  user-select: none;
}
.about {
  overflow-x: hidden;
  overflow-y: hidden;
  text-transform: uppercase;
  overflow-wrap: break-word;
  background-color: #e93636;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
}
#aboutText {
  overflow-x: hidden;
  overflow-wrap: break-word;
  width: inherit;
  margin-block: 0;
  color: #fff;
  text-align: justify;
  font-family: Archivo;
  font-size: 10vw;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 5vh 10vw;
}
.marquee {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  width: fit-content;
  height: fit-content;
  mix-blend-mode: exclusion;
  /* animation: marquee 120s linear infinite; */
}
.marquee .headerText {
  display: inline-block;
  padding-right: 2vw;
  animation: marquee 60s linear infinite;
}
.overlay {
  background-color: rgba(000, 000, 000, 0.5);
  width: 100%;
}
.filmContainer {
  position: relative;
  width: 100%;
  height: 100vh;
}
.filmContent {
  padding: 2vh 2vw;
  position: relative;
  z-index: 1;
}

.filmBackground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: repeat;
  background-image: url("/BgFilmPlaceholderV2.svg");
  background-size: 50%;
  background-blend-mode: darken;
  filter: brightness(50%);
  animation: pan 30s linear infinite;
}

.filmText {
  width: fit-content;
  margin-block: 0;
  font-size: 8vw;
  font-weight: 550;
  font-family: "Geist Mono";
  user-select: none;
  text-decoration: none;
  color: white;
  position: relative;
  background: linear-gradient(120deg, #fff 0%, #fff 100%);
  background-repeat: no-repeat;
  background-size: 0 100%;
  background-position: 0 100%;
  transition: background-size 0.6s ease-in-out, color 0.25s ease-in;
  &::before {
    content: "_";
  }
  &:hover {
    background-size: 100% 100%;
    color: black;
  }
}
.filmArrow {
  clip-path: path(
    "M0.999965 33.0003L-3.47351e-05 33.0003L-3.35091e-05 34.0003L0.999968 34.0003L0.999965 33.0003ZM32.2071 33.7073C32.5976 33.3168 32.5976 32.6837 32.2071 32.2931L25.8431 25.9292C25.4526 25.5387 24.8194 25.5387 24.4289 25.9292C24.0384 26.3197 24.0384 26.9529 24.4289 27.3434L30.0858 33.0002L24.4289 38.6571C24.0384 39.0476 24.0384 39.6808 24.4289 40.0713C24.8195 40.4618 25.4526 40.4618 25.8432 40.0713L32.2071 33.7073ZM0.999925 9.23665e-05L-7.51942e-05 9.35925e-05L-3.47351e-05 33.0003L0.999965 33.0003L1.99997 33.0003L1.99992 9.11405e-05L0.999925 9.23665e-05ZM0.999965 33.0003L0.999968 34.0003L31.5 34.0002L31.5 33.0002L31.5 32.0002L0.999963 32.0003L0.999965 33.0003Z"
  );
  width: 100px;
  height: 200px;
  color: white;
  background-color: white;
}
/* Services */
.servicesContainer {
  background-color: white;
  width: 100%;
  height: 100vh;
}

/* Services Marquee*/
.servicesMarqueeContainer {
  display: flex;
}
.servicesMarqueeTrack {
  display: flex;
  width: 100%;
  animation: marquee 60s linear infinite;
}
.servicesHeader {
  color: black;
  font-size: 2vw;
}
/* Services Meat */
.servicesContent {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5vh;
  gap: 5%;
  margin-left: 5vw;
  color: black;
}
.servicesPackage {
  border-radius: 10%;
  background-color: red;
}

@keyframes pan {
  0% {
    background-position: 0% 0%;
  }

  100% {
    background-position: 100% 0%;
  }
}
@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
